# LLM
OPENAI_API_KEY="your_openai_api_key_here"

# AviationStack API
AVIATIONSTACK_API_KEY="your_aviationstack_api_key_here"

# TAVILY API
TAVILY_API_KEY="your_tavily_api_key_here"

# Database
DATABSE_URL="your_database_url_here"

# LangSmith
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your_langsmith_api_key_here"
LANGSMITH_PROJECT="your_langsmith_project_name_here"

# Default Origin
DEFAULT_ORIGIN="DAC"
